* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "MedievalSharp", cursive;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: #fff;
    background-image: url('/fft.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    color: #ffffffd0;
    display: flex;
    justify-content: center;
    padding: 2%;
    font-size: 3em;
}

header {
    color: #ffffffd0;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}

nav {
    display: flex;
    align-items: center;
    margin-right: 10%;
}

.menu {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

li {
    list-style-type: none;
    margin-right: 40%;
}

.menu li a {
    color: #ffffffd0;
    padding: auto 100px;
}

.menu li a:hover {
    color: #e01414d0;
}

span {
    white-space: nowrap;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 10%
}

.content {
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 10%;
}

article {
    display: flex;
    margin: 0 5%;
}

.story p {
    margin-top: 60px;
    line-height: 30px;
}

.video {
    margin: 0 0 0 10%;
}

.video button{
    background-color: transparent;
    color: #ffffffd0;
    padding: 1%;
    font-weight: 900;
    border: 5x solid black;
}

aside {
    position: absolute;
    right: 0;
    max-width: 60%;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

aside h2 {
    margin-bottom: 5%;
}


aside a {
    color: #ffffffd0;

}

footer {
    background-color: black;
    color: #ffffffd0;
    padding: 10px;
    text-align: center;
}

@media (max-width: 768px) {
    aside {
        position: fixed;
        right: 0;
        height: 60vh;
        width: 20%;
    }
}