body{
    border: 4px solid black;
    padding: 0px 0px 30px 30px
}

h1{
    font-size: 60px;
}

.add-task input{
    width: 20%;
    height: 25px;
}

.add-task button{
    width: 10%;
    height: 30px;
}

.to-do-list{
    font-size: 25px;
    margin: 15px 30px;
}

div{
    display: flex;
}

.done{
    text-decoration: line-through;
}

li:hover{
    cursor: pointer;
}

.to-do-list div button{
    font-size: 20px;
    margin: auto 10px;
    padding: 0px 0px;
    background-color: white;
    color: red;
    border: none;
}

.status{
    width: 30%;
}

.status button{

    height: 30px;
}